pip install asgiref
pip install black
pip install click
pip install colorama
pip install dj-database-url
pip install Django
pip install django-autoslug
pip install django-braces
pip install django-cors-headers
pip install django-heroku
pip install django-model-utils
pip install django-star-ratings
pip install djangorestframework
pip install gunicorn
pip install mypy-extensions
pip install pathspec
pip install Pillow
pip install platformdirs
pip install psycopg2
pip install pytz
pip install six
pip install sqlparse
pip install swapper
pip install tomli
pip install tzdata
pip install whitenoise
